* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: rgb(248, 248, 254);
}
.left {
  font-size: 11px;
  display: flex; 
  gap: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.basket, .favorite{
  border:none
}
.basket-count, .fav-count{
  padding: 2px 3px;
  border-radius: 50%;
  background-color: pink;
  font-size: 9px;
  font-weight: 600;
}
.login{
    background-color: aliceblue;
    border: none;
    font-size: 11px;
    font-weight: bold;
    margin-right: 10px;
    padding: 14px 12px;
}
.login:hover{
    background-color: rgb(241, 16,103);
    color: white;
}
.telephone, .email{
    padding: 15px 10px;
}
.telephone:hover{
    background-color: rgb(241, 16,103);
    color: white;
}
.email:hover{
    background-color: rgb(241, 16,103);
    color: white;
}
.list{
  text-decoration: none;
  outline: none;
  list-style: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
}
.list:hover{
    color: rgb(241, 16,103) ;

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lists ul{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

